<div id="aboutMe">
    <img src="../../assets/David.jpg" width="500" height="500" id="imgOfMe">
    
    <div>
        <div id= "myName">David Chiriac</div>
        <div id= "presentation">
            Ambitious person, passionate and eager to grow and learn. I am a persistent problem solver, 
            I love to improve and optimize my products.<br>
            I am a fast learner and capable to research and develop tasks on my own.<br>
            I have good communication skills. I have no problem assisting my colleagues and asking for help when needed.
        </div>
    </div>
</div>